{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<div class="background-wrap">
		<div class="background"></div>
	 </div>
	  
	<form id="accesspanel"  method="post">
		{% csrf_token %}
		<h1 id="litheader">UL-NOR</h1>
		<div class="inset">
		  <p>
			<input type="text" name="username" id="email" placeholder="Email address">
		  </p>
		  <p>
			<input type="password" name="password" id="password" placeholder="Access code">
		  </p>
		  <div style="text-align: center;">
			<div class="checkboxouter">
			  <input type="checkbox" name="rememberme" id="remember" value="Remember">
			  <label class="checkbox"></label>
			</div>
			<label for="remember">Remember me for 14 days</label>
		  </div>
		  <input class="loginLoginValue" type="hidden" name="service" value="login" />
		</div>
		<p class="p-container">
		  <input type="submit" name="Login" id="go" value="T I Z I M G A   K R I SH">
		</p>
	</form>
<script src="{% static 'js/main.js' %}"></script>	
</body>
</html>